#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero {
  position: relative;
  width: 100%;
}

/* FONTS */
@font-face {
  font-family: "Noe Display";
  src: url("assets/fonts/NoeDisplay-Medium.woff2") format("woff2"),
    url("assets/fonts/NoeDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.header-players {
  position: relative;
  width: 100%;
  height: 300vh;
}

.players-slider {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  /* INITIAL State */

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  background: linear-gradient(
      116deg,
      #ffde9f 1.25%,
      #fff2d0 29.54%,
      #ffe3cf 65.02%,
      #ffb7a0 100%
    )
    center cover no-repeat;
}
/* SHADOWS */
.player-shadow {
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 100%;
  /* background-size: 1236px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* background-image: url("assets/shadows/symbol_shadow.svg"); */
  opacity: 1;
  z-index: 0;
}

.players-slider_texts {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.players-slider_title {
  position: relative;
  color: #202020;
  /* Title 1 [Desktop] */
  font-family: Noe Display;
  text-transform: uppercase;
  font-size: 496px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%; /* 29.45rem */
}
.players-slider_subtitle {
  color: #202020;
  /* Title 3 [Desktop] */
  font-family: Noe Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 3.75rem */
}

/* */

.hero-swiper {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  opacity: 0.5;
  position: relative;
  scale: 0.6;
}

.swiper-slide-active {
  opacity: 1;
  scale: 1;
}
.player-background-off{
  background-position-x: 60%;
}

.navigation {
  position: absolute;
  bottom: 10%;
  z-index: 10;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  width: 40rem;
  justify-content: center;
  align-items: center;
}
.navigation_next {
  width: 3.2rem;
  height: 3.2rem;
  background: url(assets/nav-next.svg) no-repeat center center / 40%;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.navigation_prev {
  width: 3.2rem;
  height: 3.2rem;
  background: url(assets/nav-prev.svg) no-repeat center center / 40%;
  cursor: pointer;
  transition: background 0.3s ease-out;
}

.navigation_next:hover,
.navigation_prev:hover {
  background-size: 55% !important;
}

.navigation_select {
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 3.2rem;
  cursor: pointer;
}

/* CONTENT */
.section-player_hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("assets/backs/back_1.jpg");
  background-position: center;
  background-size: cover;
}

/* MOBILE */
@media only screen and (max-width: 767px) {
  .player-shadow {
    bottom: -20%;
  }
  .players-slider_title {
    font-size: 152px;
  }
  .players-slider_subtitle {
    font-size: 32px;
  }
  .navigation {
    width: 100%;
  }

  /* TEXTS */
  .players-slider_subtitle {
    margin-top: 25%;
  }

  /* PLAYERS */
  .swiper-slide-active div:after {
    width: 100%;
    height: 80px;
    bottom: 24%;
    opacity: 0.3;
  }

  .navigation_select {
    font-size: 16px;
  }
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  .players-slider_title {
    font-size: 300px;
  }
  .players-slider_subtitle {
    font-size: 50px;
  }
  .players-slider_subtitle {
    margin-top: 80px;
  }
}

/* index.css */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container{
  position: relative;
  max-width: 1440px;
  margin:0px auto;
}


.icons-menu{
  position: fixed;
  bottom:26px;
  right:39px;  
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-out;
  z-index: 3;
}

.icons-menu.is-visible{
  opacity: 1;
  visibility: visible;
  transition: all .5s ease-out;
}

.icons-menu ul{
  list-style: none;
  padding:0px;
  visibility: hidden;
  height:0px;
  transition: all .2s ease-out;  
}

.icons-menu ul li{
  width:0px;
  height:0px;
  border-radius: 50%;
  border: 1px solid var(--Black, #202020);
  background: var(--White, #FFF);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  margin: 24px auto;
  visibility: hidden; 
  transition: all .2s ease-out; 
}

.icons-menu ul li:hover{
  border: 1px solid #6F6F6F;
  background-color: #F4F4F4 !important;
}

.icons-menu ul.is-active{
  visibility: visible;
  height: 430px;
  transition: all .2s ease-out; 
  margin:0px;
}

.icons-menu ul.is-active li{
  width:60px;
  height:60px;
  visibility: visible;  
}

.icons-menu .item-selected{
  width:104px;
  height:104px;
  border-radius: 50%;
  border: 1px solid var(--Black, #202020);  
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.icons-menu ul li:hover, .icons-menu .item-selected:hover{  
  cursor: pointer;
}

.prompt {
  font-family: 'Noto Sans';
  font-size: 1.6rem;
}

.swiper-slide{
  cursor: pointer;
}

.image-swiper-button-prev, .image-swiper-button-next{
  position: absolute;
  top:calc(50% + 50px);  
  z-index: 999;
  cursor: pointer;
  width:135px;
  height:80px;
}

.image-swiper-button-prev{
  left:100px;
  background: url(assets/left-arrow.png) no-repeat center center / 104px;
  transition: background-size .3s ease;
}

.image-swiper-button-next{
  right:100px;
  background: url(assets/right-arrow.png) no-repeat center center / 104px;
  transition: background-size .3s ease;
}

.image-swiper-button-prev:hover,
.image-swiper-button-next:hover {
  background-size: 135px !important;
}

@media all and (max-width: 767px) {
  .image-swiper-button-prev{
    left:10px;
    background-size: 48px !important;
    background-position: left center !important;
  }

  .image-swiper-button-next{
    right:10px;
    background-size: 48px !important;
    background-position: right center !important;
  }
}