/* Defining colors and variables ================== */
:root {   
  --light-gray: #252525;
  --Lippincott-Gray-4: #ADADAD;
  --Lippincott-Gray-5: #8F8F8F;
  --Lippincott-Gray-7: #252525;
  --Lippincott-Gray-8: #202020;
  --Lippincott-Gray-10: #111;
  --Lippincott-Black: #191919;
  --Lippincott-Lavender-Medium: #BA9CFF;
}

/* Defining structure ============================= */
.dFlex { display: flex; }
.spaceBetween { justify-content: space-between; }
.alignItemsCenter { align-items: center; }
.alignItemsStart { align-items: flex-start; }
.flexColumn { flex-direction: column; }

.robotsSection {
  background: linear-gradient(116deg, #E2FFD4 6.06%, #E9FFFA 38.98%, #FFF2D0 71.89%, #FFE6DE 104.81%);
  background-blend-mode: multiply;
  position: sticky;
  overflow: hidden;
}

.robotsSection p,
.robotsSection ul li {
  color: #000;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.robotsSection ul li {
  list-style-type: disc;
}

.robotsWrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  text-align: left;
}

.robotsWrapper > div {
  position: relative;
}

.robotsWrapper img {
  position: absolute;
}

.robotHeading {
  color: #000;
  font-family: "Noe Display";
  font-size: 150px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  margin: 0;
}
.grayHeadings .robotHeading {
  color: #5f5f5f;
}

.robotBlockOne { padding: 130px 0 52px; }
.robotBlockOne > h2:nth-of-type(1) { padding-left: 166px; }
.robotBlockOne > h2:nth-of-type(3) { padding-left: 257px; }
.robotOne {
  top: -120px;
  right: 8%;
  width: 380px;
}

.robotBlockTwo { padding: 52px 0 38px; }
.robotBlockTwo > h2:nth-of-type(2) { padding-left: 62px; }
.robotBlockTwo > h2:nth-of-type(3) { padding-left: 216px; }
.robotBlockTwo .robotTextWrapper:nth-of-type(1) { 
  max-width: 636px;
  margin-bottom: 80px; 
}
.robotBlockTwo .robotTextWrapper:nth-of-type(2) {
  max-width: 590px;
  margin-top: 40px;
}

.robotTwo {
  top: 200px;
  right: -12%;
  width: 782px;
}

.robotBlockThree {
  padding: 38px 0 0;
  text-align: right;
}

.robotBlockThree > h2:nth-of-type(1) { padding-right: 52px; }
.robotBlockThree > h2:nth-of-type(3) { padding-right: 264px; }
.robotBlockThree > h2:nth-of-type(4) { padding-right: 158px; }
.robotBlockThree > h2:nth-of-type(5) { padding-right: 198px; }

.robotBlockThree .robotTextWrapper {
  max-width: 480px;
  margin-left: auto;
  text-align: left;
  margin-bottom: 150px;
}

.robotThree {
  top: 200px;
  left: -12%;
  width: 848px;
}

.robotBlockFour {
  padding: 0 0 480px;
  text-align: right;
}

.robotBlockFour .robotTextWrapper {
  max-width: 638px;
  margin-left: auto;
  text-align: left;
}

.robotBeach {
  left: -26%;
  bottom: 0;
  width: 2180px;
}

/* Responsive ================================= */
@media (min-width: 768px) {
  .robotsWrapper {
    padding-left: 30px;
    padding-right: 30px
  }
}

@media (min-width: 1024px) {
  .robotsWrapper {
    padding-left: 20px;
    padding-right: 20px
  }
}